/target
**/node_modules/
/.idea
**/*.rs.bk
Cargo.lock
bin/
pkg/
wasm-pack.log
/tests/screenshotter/new
/tests/screenshotter/diff
/tests/screenshotter/report
tests/screenshotter/package-lock.json
tests/perf/package-lock.json
